---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="À propos"
	description="Étudiant en MMI passionné par le design et les projets créatifs"
	pubDate={new Date('April 01 2025')}
	heroImage="/blog-placeholder-about.jpg"
>

	<p>
		Hello, moi c’est Nathan Dejean — étudiant en 2<sup>ème</sup> année de BUT MMI (Métiers du Multimédia et de l’Internet).
		Je m’intéresse particulièrement à la conception graphique, l’UX/UI design et à tout ce qui touche à la création numérique.
	</p>

	<p>
		Dans le cadre de mes études, je participe à de nombreux projets — en équipe ou en solo — mêlant design, développement web, stratégie de communication, audiovisuel ou encore création de contenu.
		Ces expériences me permettent d'explorer une diversité de savoir-faire tout en cultivant une approche créative et rigoureuse.
	</p>

	<p>
		En parallèle, je développe aussi des projets plus personnels, comme ce blog, pour expérimenter, apprendre et partager mes travaux. Vous pouvez retrouver une sélection des travaux réalisés dans la section <a href="/work">Works</a>.
	</p>

	<p>
		Je suis toujours curieux de découvrir de nouvelles choses et d’échanger avec d’autres créatifs. N’hésite pas à me suivre ou à me contacter via <a href="https://www.linkedin.com/in/nathandejean/" target="_blank">LinkedIn</a> ou <a href="https://github.com/nath-dejean" target="_blank">GitHub</a>.
	</p>

</Layout>
