---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/" class="text-xl header-link">Home</HeaderLink>
      <HeaderLink href="/work" class="text-xl header-link">Works</HeaderLink>
      <HeaderLink href="/blog" class="text-xl header-link">Blog</HeaderLink>
      <HeaderLink href="/about" class="text-xl header-link">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://nathandejean.myportfolio.com/" target="_blank">
        <span class="sr-only">Visit my portfolio</span>
        <svg viewBox="0 0 32 32" aria-hidden="true" width="32" height="32"
		fill="currentColor"
          >
		  <path d="m10.4714 12.3566v3.8454c.1608.0125.3094.0187.4457.0186h.6129c.4496.0066.8976-.056 1.3282-.1857.3681-.1093.6971-.3222.9477-.6131.2594-.3401.3879-.762.3621-1.1889.0099-.3593-.0836-.7139-.2694-1.0217-.1952-.2975-.4773-.5278-.808-.6594-.4318-.1679-.8931-.2469-1.3561-.2323-.2972 0-.5603.0031-.7894.0093-.2295.0064-.3874.0157-.4737.0278z"/> 
		  <path
		  d="m16 0c-8.83656 0-16 7.16344-16 16 0 8.8366 7.16344 16 16 16 8.8366 0 16-7.1634 16-16 0-8.83656-7.1634-16-16-16zm3.5245 15.2826-1.3088-.0386c-.0868-.0123-.1302-.0558-.1302-.13v-1.6293c-.0025-.0177-.0008-.0357.0048-.0526.0057-.017.0152-.0323.0278-.045.0127-.0126.028-.0221.045-.0277.0169-.0057.0349-.0073.0526-.0048l1.3088.0144v-.0364c-.0027-.5558.0282-1.1111.0926-1.6631.0567-.3247.1567-.6402.2974-.9382.2402-.499.6048-.9276 1.0588-1.24466.5422-.34557 1.1783-.51431 1.8205-.48294.18-.00094.3599.00835.5388.02782.1821.01571.3621.04997.5372.10223.0387.01299.0722.03803.0956.07145s.0355.07346.0345.11426v1.83914c0 .0868-.0496.1177-.1488.0929-.0867-.0123-.2895-.0186-.3885-.0186h-.2785c-.2517-.0039-.5018.0403-.7369.13-.1738.0943-.3062.25-.3715.4366-.0902.2659-.1312.546-.1208.8267v.7428h1.8151c.074 0 .1206.0123.1392.0371.0209.0332.0307.0723.028.1114v1.6351c0 .0868-.0558.1301-.1672.13h-1.8151l.0145 6.8959c-.0004.0388-.0099.077-.0277.1114-.0186.0372-.065.0558-.1395.0558h-2.1146c-.0993 0-.1486-.0558-.1486-.1672zm-11.5245 6.8454v-11.8705c0-.0865.03726-.13.11154-.13.19782 0 .34081-.0029.61342-.0093.27236-.0061.56654-.0123.88254-.0185.31575-.0061.6501-.0124 1.0031-.0186s.7029-.0093 1.0495-.0094c.807-.0207 1.6115.0988 2.3777.3531.5811.1965 1.1111.5202 1.5513.9474.3732.3702.6616.817.8453 1.3095.1736.4794.2616.9856.2599 1.4955.0351.8694-.2055 1.7276-.6874 2.4521-.4611.6465-1.1095 1.136-1.8575 1.4025-.8338.3002-1.7147.4481-2.6008.4366-.2726 0-.4645-.0031-.5756-.0093-.1116-.0061-.2788-.0093-.5016-.0093v3.6596c.0032.0227.0011.0458-.0061.0676-.0073.0217-.0195.0415-.0357.0577-.0163.0162-.036.0285-.0578.0357-.0217.0073-.0449.0094-.0676.0062h-2.17401c-.0868 0-.13019-.0496-.13019-.1486z"
          ></path></svg
        >
		</svg>
      </a>
      <a href="https://www.linkedin.com/in/nathandejean/" target="_blank">
        <span class="sr-only">Go to my Linkedin profile</span>
        <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32"
          fill="currentColor"
        ><path
            d="M22.23 0H1.77C0.79 0 0 0.79 0 1.77v20.47C0 23.21 0.79 24 1.77 24h20.47c0.98 0 1.77-0.79 1.77-1.77V1.77C24 0.79 23.21 0 22.23 0zM7.08 20.45H3.56V9h3.52v11.45zM5.32 7.56c-1.14 0-2.06-0.92-2.06-2.06s0.92-2.06 2.06-2.06 2.06 0.92 2.06 2.06-0.92 2.06-2.06 2.06zM20.45 20.45h-3.52v-5.59c0-1.34-0.02-3.07-1.87-3.07s-2.16 1.46-2.16 2.97v5.69h-3.52V9h3.38v1.56h0.05c0.47-0.89 1.61-1.83 3.31-1.83 3.54 0 4.19 2.33 4.19 5.37v6.35z"
          ></path>
        </svg>
      </a>
      <a href="https://github.com/nath-dejean" target="_blank">
        <span class="sr-only">Go to Nathan's GitHub profile</span>
        <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: var(--color-header);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: var(--color-text);
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--color-text);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  nav a.active {
    border-bottom-color: var(--color-accent);
  }

  nav a:hover {
    color: var(--color-accent-light);
  }

  .social-links,
  .social-links a {
    display: flex;
    color: var(--color-text);
  }

  .social-links a:hover {
    color: var(--color-accent-light);
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>